@charset "UTF-8";
/* Responsive */
/* Ellipsis */
@import url("layout.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-Light.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-Light.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-Light.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-Light.woff) format("woff"), url(../font/pretendard-woff/Pretendard-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-Regular.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-Regular.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-Regular.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-Regular.woff) format("woff"), url(../font/pretendard-woff/Pretendard-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-Medium.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-Medium.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-Medium.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-Medium.woff) format("woff"), url(../font/pretendard-woff/Pretendard-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-SemiBold.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-SemiBold.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-SemiBold.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-SemiBold.woff) format("woff"), url(../font/pretendard-woff/Pretendard-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-Bold.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-Bold.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-Bold.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-Bold.woff) format("woff"), url(../font/pretendard-woff/Pretendard-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../font/pretendard-woff/Pretendard-ExtraBold.eot);
  src: local("☺"), url(../font/pretendard-woff/Pretendard-ExtraBold.eot#iefix) format("embedded-opentype"), url(../font/pretendard-woff/Pretendard-ExtraBold.woff2) format("woff2"), url(../font/pretendard-woff/Pretendard-ExtraBold.woff) format("woff"), url(../font/pretendard-woff/Pretendard-ExtraBold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}
html {
  height: 100%;
  font-size: 1px;
}
@media (max-width: 1640px) {
  html {
    font-size: 0.06097561vw;
  }
}

body {
  min-width: 320px;
  color: #fff;
  font-family: "Pretendard";
  font-size: clamp(10px, 16rem, 999rem);
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;
  word-break: keep-all;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
  outline: none !important;
}

::placeholder {
  color: #6c6c6c;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

img,
svg {
  display: block;
  border: none;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1564rem;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  position: relative;
}

/**********************/
.hidden {
  display: none;
}