@charset "UTF-8";
/* Responsive */
/* Ellipsis */
.pps {
  font-family: "Poppins", sans-serif;
}

.pre {
  font-family: "Pretendard", sans-serif;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taC {
  text-align: center;
}

.taL {
  text-align: left;
}

.taR {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dot_txt,
.dot_list > li {
  position: relative;
  padding-left: 18rem;
}
@media (max-width: 750px) {
  .dot_txt,
  .dot_list > li {
    padding-left: 12rem;
  }
}

.dot_txt::before,
.dot_list > li::before {
  content: "•";
  display: block;
  position: absolute;
  left: 0;
  top: -2rem;
}

.fx {
  display: block;
  transform: translateY(60%) rotateX(90deg);
  transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
  font-weight: inherit;
  opacity: 0;
}

.active .fx {
  animation: fade-up 1s cubic-bezier(0.16, 1, 0.3, 1) both;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(60%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg);
  }
}
.active .fx:nth-child(2) {
  animation-delay: 0.1s;
}
.active .fx:nth-child(3) {
  animation-delay: 0.2s;
}
.active .fx:nth-child(4) {
  animation-delay: 0.3s;
}
.active .fx:nth-child(5) {
  animation-delay: 0.4s;
}
.active .fx:nth-child(6) {
  animation-delay: 0.5s;
}
.active .fx:nth-child(7) {
  animation-delay: 0.6s;
}

.active .ani_fadeup {
  animation: fade-up2 1s cubic-bezier(0.16, 1, 0.3, 1) both;
}

@keyframes fade-up2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.active .ani_dly1 {
  animation-delay: 0.1s;
}

.active .ani_dly2 {
  animation-delay: 0.2s;
}

.active .ani_dly3 {
  animation-delay: 0.3s;
}

.active .ani_dly4 {
  animation-delay: 0.4s;
}

.active .ani_dly5 {
  animation-delay: 0.5s;
}

.active .ani_dly6 {
  animation-delay: 0.6s;
}

.active .ani_dly7 {
  animation-delay: 0.7s;
}

.active .ani_dly8 {
  animation-delay: 0.8s;
}

.active .ani_dly9 {
  animation-delay: 0.9s;
}

.active .ani_dly10 {
  animation-delay: 1s;
}

/********** HEADER **********/
header {
  padding: 50rem 40rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
header .logo {
  width: 130rem;
}
header .sub_menu {
  gap: 22rem;
}
header .sub_menu .profile_btn {
  width: 32rem;
  height: 32rem;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
header .sub_menu .company_btn {
  width: 32rem;
  height: 18rem;
  position: relative;
}
header .sub_menu .company_btn i {
  width: 100%;
  height: 2rem;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
header .sub_menu .company_btn i:nth-child(1) {
  top: 0;
}
header .sub_menu .company_btn i:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
header .sub_menu .company_btn i:nth-child(3) {
  bottom: 0;
}
header .footer_box {
  position: absolute;
  right: 44rem;
  top: 100rem;
  width: 335rem;
  border-radius: 24px;
  border: 1px solid #FFF;
  background: linear-gradient(0deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.1) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.25) 6.52%, rgba(0, 133, 255, 0) 92.88%);
  backdrop-filter: blur(50px);
  padding: 32rem;
  touch-action: none;
  pointer-events: none;
  opacity: 0;
  transform: translateX(20rem);
  transition: 0.3s ease;
}
header .footer_box.on {
  opacity: 1;
  transform: translateX(0);
  touch-action: auto;
  pointer-events: auto;
}
header .footer_box .txt_box {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
header .footer_box .txt_box strong {
  font-size: clamp(10px, 35rem, 999rem);
  font-weight: 800;
}
header .footer_box .txt_box strong.ci {
  color: #FF1585;
  margin-left: auto;
}
header .footer_box .txt_box span {
  font-size: clamp(10px, 10rem, 999rem);
  transform: scale(0.6);
}
header .footer_box .copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 23rem 0 161rem;
  font-size: 8rem;
}
header .footer_box .copyright strong {
  display: block;
  font-size: clamp(10px, 31.6rem, 999rem);
  font-weight: 800;
}
header .footer_box .link_box {
  font-size: clamp(10px, 16rem, 999rem);
  flex-wrap: wrap;
}
header .footer_box .link_box .blendX_link {
  width: 100%;
  margin-bottom: 10rem;
}
header .footer_box .link_box .blendX_link img {
  width: 20rem;
}
header .footer_box .link_box a:hover {
  text-decoration: underline;
}

/********** LOGIN **********/
.pop_wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  touch-action: none;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease;
}
.pop_wrap.on {
  touch-action: auto;
  pointer-events: auto;
  opacity: 1;
}
.pop_wrap.on .pop_cont {
  transform: translate(-50%, -50%);
  opacity: 1;
  touch-action: auto;
  pointer-events: auto;
}
.pop_wrap .pop_cont {
  transform: translate(-50%, -30%);
  opacity: 0;
  touch-action: none;
  transition: 1s ease;
  pointer-events: none;
  border-radius: 24px;
  border: 1px solid #ffffff;
  background: linear-gradient(0deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.1) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.25) 6.52%, rgba(0, 133, 255, 0) 92.88%);
  backdrop-filter: blur(50px);
  width: 420rem;
  padding: 32rem;
}
.pop_wrap .pop_cont.login_box .tit {
  display: flex;
  align-items: center;
  font-size: clamp(10px, 24rem, 999rem);
  font-weight: bold;
}
.pop_wrap .pop_cont.login_box .tit img {
  width: 24rem;
  margin-right: 4rem;
}
.pop_wrap .pop_cont.login_box .logo {
  width: 130rem;
  margin: 54rem auto 48rem;
}
.pop_wrap .pop_cont.login_box .write_box input {
  width: 100%;
  height: 56rem;
  padding: 0 24rem;
  background-color: #ffffff;
  border-radius: 8rem;
}
.pop_wrap .pop_cont.login_box .write_box input.id_gen_btn {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.pop_wrap .pop_cont.login_box .write_box input.id_txt {
  color: #000000;
  cursor: auto;
  margin: 24rem 0 48rem;
}
.pop_wrap .pop_cont.login_box .write_box input.submit_btn {
  background-color: #000000;
  font-size: clamp(10px, 20rem, 999rem);
}
.pop_wrap .pop_cont.login_box .write_box input.submit_btn[disabled] {
  opacity: 0.5;
  touch-action: none;
  pointer-events: none;
}
.pop_wrap .pop_cont.retry_confirm {
  background: linear-gradient(0deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.1) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.45) 6.52%, rgba(0, 133, 255, 0.3) 92.88%);
}
.pop_wrap .pop_cont.retry_confirm p {
  font-size: clamp(10px, 20rem, 999rem);
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 32rem;
}
.pop_wrap .pop_cont.retry_confirm button {
  width: 100%;
  height: 56rem;
  border-radius: 8rem;
  background-color: #FF1585;
}
.pop_wrap .pop_cont.retry_confirm button + button {
  border: none;
  margin-left: 16rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

@media (min-width: 751px) {
  .mo {
    display: none !important;
  }
}
@media (max-width: 750px) {
  .pc {
    display: none !important;
  }
}