@charset "utf-8";
@import "var";

em{ color: $ci;}

.pps{ font-family: "Poppins", sans-serif;}
.pre{ font-family: "Pretendard", sans-serif;}

.cover{ width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0; top: 0;}
.f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.taC {
  text-align: center;
}
.taL {
  text-align: left;
}
.taR {
  text-align: right;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.dot_txt,
.dot_list > li {
  position: relative;
  padding-left: 18rem;
  @include screen("mo") {
    padding-left: 12rem;
  }
}
.dot_txt::before,
.dot_list > li::before {
  content: "•";
  display: block;
  position: absolute;
  left: 0;
  top: -2rem;
}

.fx{ display: block; transform: translateY(60%) rotateX(90deg); transition: 1s cubic-bezier(0.25, 1, 0.5, 1); font-weight:inherit; opacity: 0;}

.active .fx{  animation: fade-up 2s $expo both;
  @keyframes fade-up {
    0%{ opacity: 0; transform: translateY(60%) rotateX(90deg);}
    100%{ opacity: 1; transform: translateY(0%) rotateX(0deg);}
  }
  &:nth-child(2){ animation-delay: .1s;}
  &:nth-child(3){ animation-delay: .2s;}
  &:nth-child(4){ animation-delay: .3s;}
  &:nth-child(5){ animation-delay: .4s;}
  &:nth-child(6){ animation-delay: .5s;}
  &:nth-child(7){ animation-delay: .6s;}
}

.active .ani_fadeup{ animation: fade-up2 1s $expo both;}
@keyframes fade-up2 {
  0%{ transform: translateY(100%); opacity: 0;}
  100%{ transform: translateY(0%); opacity: 1;}
}
.active .ani_dly1{ animation-delay: .1s;}
.active .ani_dly2{ animation-delay: .2s;}
.active .ani_dly3{ animation-delay: .3s;}
.active .ani_dly4{ animation-delay: .4s;}
.active .ani_dly5{ animation-delay: .5s;}
.active .ani_dly6{ animation-delay: .6s;}
.active .ani_dly7{ animation-delay: .7s;}
.active .ani_dly8{ animation-delay: .8s;}
.active .ani_dly9{ animation-delay: .9s;}
.active .ani_dly10{ animation-delay: 1s;}

/********** HEADER **********/
header{ padding: 40rem; position: fixed; left: 0; top: 0; width: 100%; z-index: 999;
  .logo{ width: 130rem;}
  .sub_menu{ gap: 22rem;
    .profile_btn{ width: 32rem; height: 32rem; overflow: hidden; position: relative; border-radius: 50%;}
    .company_btn{ width: 32rem; height: 18rem; position: relative;
      i{ width: 100%; height: 2rem; background-color: $white; position: absolute; left: 0; transition: .3s ease;
        &:nth-child(1){ top: 0;}
        &:nth-child(2){ top: 50%; transform: translateY(-50%);}
        &:nth-child(3){ bottom: 0;}
      }
      &.on i{ transform:translate(-50%, -50%); left: 50%; top: 50%; bottom: auto;
        &:nth-child(1){ transform: translate(-50%, -50%) rotate(45deg);}
        &:nth-child(2){ transform: translate(-50%, -50%) scale(0);}
        &:nth-child(3){ transform: translate(-50%, -50%) rotate(-45deg);}
      }
    }
  }

  .footer_box{ position: absolute; right: 44rem; top: 100rem; width: 335rem;border-radius: 24px; border: 1px solid #FFF; background: linear-gradient(0deg, rgba(196, 196, 196, 0.10) 0%, rgba(196, 196, 196, 0.10) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.25) 6.52%, rgba(0, 133, 255, 0.00) 92.88%); backdrop-filter: blur(50px); padding: 32rem; touch-action: none; pointer-events: none; opacity: 0; transform: translateX(20rem); transition: .3s ease;
    &.on{ opacity: 1; transform: translateX(0); touch-action: auto; pointer-events: auto;}
    .txt_box{ display: flex; flex-wrap: wrap; line-height: 1;
      strong{ @include font-size(35rem); font-weight: 800;
        &.ci{ color: $ci; margin-left: auto}
      }
      span{ @include font-size(10rem); transform: scale(.6);}
    }
    .copyright{ display: flex; justify-content: space-between; flex-wrap: wrap; margin: 23rem 0 161rem;
      font-size: 8rem;
      strong{ display: block; @include font-size(31.6rem); font-weight: 800;}
    }
    .link_box{ @include font-size(16rem); flex-wrap: wrap;
      .blendX_link{ width: 100%; margin-bottom: 10rem;
        img{ width: 20rem;}
      }
      a:hover{ text-decoration: underline;}
    }
  }
}

/********** LOGIN **********/
.pop_wrap{ position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 100%; touch-action: none; pointer-events: none; opacity: 0; transition: .5s ease;
  &.on{ touch-action: auto; pointer-events: auto; opacity: 1;
    .pop_cont{ transform: translate(-50%, -50%); opacity: 1; touch-action: auto; pointer-events: auto;}
  }
  .pop_cont{ transform: translate(-50%, -30%); opacity: 0; touch-action: none; transition: 1s ease; pointer-events: none; border-radius: 24px; border: 1px solid $white; background: linear-gradient(0deg, rgba(196, 196, 196, 0.10) 0%, rgba(196, 196, 196, 0.10) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.25) 6.52%, rgba(0, 133, 255, 0.00) 92.88%); backdrop-filter: blur(50px); width: 420rem; padding:32rem;
    &.login_box{
      .tit{ display: flex; align-items: center; @include font-size(24rem); font-weight: bold;
        img{ width: 24rem; margin-right: 4rem;}
      }
      .logo{ width: 130rem; margin: 54rem auto 48rem;}
      .write_box{
        input{ width: 100%; height: 56rem; padding: 0 24rem; background-color: $white; border-radius: 8rem;
          &.id_gen_btn{ background-color: rgba($color: $black, $alpha: .2); border: 1px solid rgba($color: $white, $alpha: .4);}
          &.id_txt{ color: $black; cursor:auto; margin: 24rem 0 48rem;}
          &.submit_btn{ background-color: $black; @include font-size(20rem);
            &[disabled]{ opacity: .5; touch-action: none; pointer-events: none;}
          }
        }
      }
    }
    &.retry_confirm{ background: linear-gradient(0deg, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.1) 100%), linear-gradient(106deg, rgba(255, 21, 133, 0.45) 6.52%, rgba(0, 133, 255, 0.3) 92.88%);
      p{ @include font-size(20rem); line-height: 1.4; font-weight: 700; margin-bottom: 32rem;}
      button{ width: 100%; height: 56rem;border-radius: 8rem; background-color: $ci;
        + button{ border: none; margin-left: 16rem; background-color: rgba(0, 0, 0, 0.2); border: 1px solid rgba(255, 255, 255, 0.4);}
      }
    }
  }
}


@include screen("pc") {
  .mo{ display: none !important;}
}
@include screen("mo") {
  .pc{ display: none !important;}
}