@charset "utf-8";
@import "var";

#main_wrap{ background-color: $black; height: 100vh; width: 100%; overflow: hidden; position: relative;}

/********** MAIN VISUAL **********/
#main{ width: 100%; height: 100%;  padding: 162rem 0 130rem; position: absolute; left: 0; top: 0; z-index: 10; 
  video{ transition: 1s $expo; filter: brightness(.3);} 
  .ani_fade{ transition: 1s $expo;}
  .container{height: 100%;
    .main_title{ }
    .txt_box{ padding:90rem 0 0 50%; @include font-size(18rem);font-weight: bold;}
    .process_info{ border-top: 1px solid rgba($color: #fff, $alpha: .2); padding-top: 20rem; position: absolute; left: 0; bottom: 0; width: 100%;
      p{}
      .start_btn{ padding: 20rem 30rem; @include font-size(14rem); background-color: $ci; border-radius: 8rem; display: flex; align-items: center;
        img{ width: 20rem; margin-left: 10rem;}
      }
    }
  }
}


// 컨설팅 시작하기 & 다시 시작하기 버튼
#main_wrap.consulting_start{
  #main{ touch-action: none; pointer-events: none;
    video{ transform: scale(1.05); opacity: 0;}
    .ani_fade{ transform: translateY(50rem); opacity: 0; }
  }
  #survey_wrap{
    .survey_lnb{ transform: translateX(0);}
  }
}

// 제출 버튼
#main_wrap.consulting_end{
  #main{ touch-action: none; pointer-events: none;
    video{ transform: scale(1.05); opacity: 0;}
    .ani_fade{ transform: translateY(50rem); opacity: 0; }
  }
  #survey_wrap{
    .survey_lnb{ transform: translateX(-100%);}
  }
}

/********** SURVEY **********/
$survey_pdt: 162rem;

#survey_wrap{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: $white url(../images/survey_bg.jpg)no-repeat center center / cover;  
  video{ opacity: 70%; mix-blend-mode: overlay;}
  .survey_tit{ position: absolute; left: 354rem; top: 50rem; @include font-size(14rem); display: flex; align-items: center; font-weight: bold; white-space: nowrap;
    img{ margin-right: 4rem; width: 24rem;}
  }
  .survey_lnb{ position: absolute; left: 0; top: 0; height: 100%; width:  270rem; background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 100%); backdrop-filter: blur(50px); border-right: 1px solid #fff; padding: $survey_pdt 0 0 $layout_padding; font-weight: bold; z-index: 10; transform: translateX(-100%); transition: 1s $expo;
    ol{
      li{ opacity: .3;  transition: .3s ease;
        + li{ margin-top: 16rem;} 
        .tit{ @include font-size(14rem); margin-bottom: 12rem; display: flex; align-items: center; 
          &::before{ content: ''; width: 16rem; height: 16rem; border-radius: 50%; margin-right: 8rem; background-color: $black;}
        }
        button{ @include font-size(12rem); padding: 13rem 35rem 13rem 14rem; position: relative; background: url(../images/survey_lnb_tag.svg)no-repeat left center / auto 100%; @include ellip(1); width: 100%; display: none; text-align: left;
          &::before{ content: ''; width: 15rem; height: 15rem; background: url(../images/ico_write.svg)no-repeat center center / contain; position: absolute; right: 14rem; top: 50%; transform: translateY(-50%); opacity: .5;}
        }
        &.on{ opacity: 1;
          button{ display: block;}
        }
      }
    }
  }

  .survey_box{ z-index: 1; position: relative;height: 100%;
    &.on{}
    .survey_cont{padding: $survey_pdt 352rem 100rem; height: 100%; display: flex; flex-direction: column; justify-content: space-between;
      .con_box{ font-weight: bold;
        .example_btn,
        .example_list li{ @include font-size(14rem); padding: 7rem 12rem; border-radius: 8rem; background-color: $white; color: $black;}
        .txt_box{ margin-bottom: 20rem; 
          span{ display: block; @include font-size(32rem); line-height: 1;}
          .tit{ display: block; @include font-size(48rem); line-height: 1.2; margin-top: 29rem;}
          .loading_info{ display: flex; align-items: center; margin-top: 32rem;
            p{ width: max-content; margin-right: 15rem;}
            .loader{ display: block; width: 20px; height: 20px; border-radius: 50%; border:2px solid $white; position: relative; animation: loading1 1s linear infinite;
              &::after{ content: ""; box-sizing: border-box; position: absolute; inset: 0px; border-radius: 50%; border: 2px solid $ci; animation: loading2 2s linear infinite alternate-reverse; width: 100%; height: 100%;}
              @keyframes loading1 {
                0%   {transform: rotate(0deg);}
                100%   {transform: rotate(360deg);}
              }              
              @keyframes loading2 {
                  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0);}
                  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
                  90%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%);}
              }
            }
          }
        }
        .example_btn{ display: flex; align-items: center;
          &::after{ content: ''; width: 12rem; height: 11rem; background: url(../images/ico_file.svg)no-repeat center center / contain; margin:1rem 0 0 10rem; transition: .3s ease;}
          &.on{ filter: invert(1);}
        }
        .example_list{ margin-top: 16rem;
          &[data-toggle=brand_choose] li{ cursor: pointer; 
            &:hover{ color: $black; font-weight: 700;}
          
          }
          li{ margin-bottom: 10rem; width: max-content; font-weight: 500; color: #777; font-weight: 500; opacity: 0; transform: translateX(-10rem); transition: opacity .5s ease, transform .5s ease; touch-action: none; pointer-events: none;
          }
          &.on{
            li{ opacity: 1; transform: translateX(0); touch-action: auto; pointer-events: auto;
              &:nth-child(2){ transition-delay: .1s;}
              &:nth-child(3){ transition-delay: .2s;}
              &:nth-child(4){ transition-delay: .3s;}
              &:nth-child(5){ transition-delay: .4s;}
              &:nth-child(6){ transition-delay: .5s;}
              &:nth-child(7){ transition-delay: .6s;}
              &:nth-child(8){ transition-delay: .7s;}
              &:nth-child(9){ transition-delay: .8s;}
              &:nth-child(10){ transition-delay: 9s;}
            }
          }
        }
      }
      .write_box{ display: flex; width: 100%; border-radius: 8px;
        background: rgba(0, 0, 0, 0.50); padding: 10rem;
        input{ width: 100%; height: 44rem; padding: 0 14rem;}
        button{ display: flex; align-items: center; padding: 10rem 30rem; flex-shrink: 0; background-color: $ci; border-radius: 4rem; transition: .5s ease;
          &[disabled]{ background-color: #777; cursor: default;}
          img{ width: 20rem; margin-left: 10rem;}
          &.submit_btn{ font-weight: 600;}
        }
      }

      .progress_contents{ position: relative; width: 100%;
        .icon_box{ height: 200rem; position: absolute; left: 117rem; top: 0;
          > *:not(.icon1){display: none;}
          .icon1{
            .ani{ transform-origin: right bottom; animation: icon1 1s infinite alternate-reverse;}
            @keyframes icon1 {
              0%{ transform: rotate(-20deg) translate(29px, 26px);}
              100%{ transform: rotate(0deg) translate(0px, 0px);}
            }
          }
          .icon2{
            .ani{ animation: icon2 1s infinite alternate-reverse;}
            @keyframes icon2 {
              0%{ transform: translateY(0rem);}
              100%{ transform: translateY(-38rem);}
            }
          }
          .icon3{width: 347rem;
            transform: translateX(-75rem);
            svg > *:not(.not_ani){ animation: icon3 2s infinite;}
            @keyframes icon3 {
              0%{ transform: rotate(0);}
              15%{ transform: rotate(9deg) translate(0rem, 0rem);}
              30%{ transform: rotate(9deg) translate(0rem, 0rem);}
              40%{ transform: rotate(9deg) translate(10rem, 5rem);}
              50%{ transform: rotate(9deg) translate(20rem, -5rem);}
              60%{ transform: rotate(9deg) translate(30rem, 6rem);}
              70%{ transform: rotate(9deg) translate(40rem, -6rem);}
              80%{ transform: rotate(9deg) translate(50rem, 7rem);}
              100%{ transform: rotate(9deg) translate(63rem, -8rem);}
            }
          }
          .icon4{
            .ani{ animation: icon4 1s infinite alternate-reverse; transform-origin: center center;}
            @keyframes icon4 {
              0%{ transform: scale(1) translateY(-9rem);}
              100%{transform: scale(0.6) translateY(-49rem);
              }
            }
          }
        }
        .progress_txt{background: linear-gradient(180deg, #FFF 14.17%, rgba(255, 255, 255, 0.00) 85.67%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; @include font-size(240rem); font-weight: 700; text-align: right; line-height: 1;}
        .progress_container{position: relative;
          .progress_bar_wrap{ padding: 5rem;
            .progress_bar{ width: 0%; min-width: 26rem; height: 100%; border-radius: 130px; background: linear-gradient(90deg, #6132D3 0.18%, #FF1585 99.82%);}
          }
        }
        .result_button{  display: flex; align-items: center; @include font-size(16rem); padding: 18rem 15rem; background-color: $ci; color: $white; border-radius: 8rem; margin: 80rem auto 0; touch-action: none; pointer-events: none; transform: translateY(50rem); opacity: 0; transition: 1s ease; position: relative;
          img{ width: 24rem; margin-left: 10rem;}
          &::before, &::after{ content: ''; width: 90%; height: 90%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border: 1px solid $ci; border-radius: 8rem;}
          &.on{ opacity: 1; transform: translateY(0%); touch-action: auto; pointer-events: auto;
            &::before, &::after{ animation: btn_light 2s $expo infinite;
              @keyframes btn_light {
                0%{ width: 90%; height:90%; opacity: 1;}
                20%{ opacity: 1;}
                100%{ width: calc(100% + 30rem); height:calc(100% + 30rem); opacity: 0;}
              }
            }
            &::after{ animation-delay: .3s;}
          }
        }
      }
    }  
  }
  #result-page{padding: $survey_pdt 0 100rem; 
    .json_data{ color: $black; 
      .data_wrap{ display: flex; margin-bottom: 16rem; height: 500rem;  
        > div{width: 50%; background-color: $white; border-radius: 30rem; padding: 32rem;}
        .title {
          .ico {width: 24rem; height: 24rem; background-size: auto; background-repeat: no-repeat; background-position: center center; display: inline-block;}
          .ico_frame {background-image: url('/src/images/ico_frame.svg');}
          .ico_frame2 {background-image: url('/src/images/ico_frame2.svg');}
        }
        .result_data_wrap {
          .result_data {overflow:hidden;
            .scroll {display: flex; flex-direction: column; gap: 48rem; }
            .step_wrap {
              .step_data { @include font-size(32rem); font-weight: 300;}
            }
          }
          
        }
        .report_tit {margin-bottom: 7rem; @include font-size(16rem); font-weight: bold;}
        .title { display: flex; gap: 4rem; align-items: center; @include font-size(24rem); font-weight: bold; margin-bottom: 40rem;
        }
        .scroll {overflow-y: scroll; height: 360rem}
        .final_report_wrap{ margin-left: 16rem; overflow: hidden;
          .social_report_title { @include font-size(24rem); padding-bottom: 5rem;}
          .social_report_subtitle { @include font-size(16rem); padding-bottom: 32rem; color: #888888;}
          .social_report { @include font-size(16rem);}
        }
      }
      .pdf_download{ display: flex; gap: 15rem; padding-bottom: 32rem; margin-bottom: 40rem; border-bottom: 1px solid rgba($color: $white, $alpha: .3);
        button{ width: 100%; background-color: $white; border-radius: 20rem; height: 88rem; display: flex; align-items: center; justify-content: center; @include font-size(16rem); font-weight: bold; transition: .3s ease;
          &::after{ content: ''; width: 24rem; height: 24rem; margin-left: 8rem; background: url(../images/ico_file2.svg)no-repeat center center / cover; transition: .3s ease;}
          &:hover{ background-color: $ci; color: $white;
            &::after{ filter: invert(1);}
          }
        }
      }
      .btn_wrap{ display: flex; justify-content: center;
        > *{ width: 266rem; background-color: $black; border-radius: 8rem; height: 60rem; display: flex; align-items: center; justify-content: center; @include font-size(16rem); font-weight: bold; color: $white;
          &::after{  content: ''; width: 24rem; height: 24rem; margin-left: 8rem; background-color: no-repeat center center / cover;}
        }
        .retry_btn{
          &::after{ background-image: url(../images/ico_reset.svg);}
        }
        > *:not(.retry_btn){ background-color: $ci; margin-left: 16rem;
          &::after{background-image: url(../images/ico_down.svg);}
        }
      }
    }
    .modal_popup{ position: fixed; left: 0; top: 0; z-index: 1000; width: 100%; height: 100%; touch-action: none; pointer-events: none; opacity: 0; transition: .5s ease;
      .dim{ background:rgba(0, 0, 0, 0.3);}
      &.on{ touch-action: auto; pointer-events: auto; opacity: 1;
        .modal_content{ transform: translate(-50%, -50%); opacity: 1; touch-action: auto; pointer-events: auto;}
      }
      .modal_content{ transform: translate(-50%, -30%); opacity: 0; touch-action: none; transition: 1s ease; pointer-events: none; border-radius: 30px; width: 1523rem; padding:32rem;
        .close{ display: block; width: 40rem; margin: 0 0 20rem auto; cursor: pointer;}
        .pdf_viewer{ margin: 23rem 0; width: 100%; height: 730rem;
          iframe{ border-radius: 30rem; overflow: hidden;}
        }
        .pdf_download_btn{ width: 266rem; background-color: $ci; border-radius: 8rem; height: 60rem; display: flex; align-items: center; justify-content: center; @include font-size(16rem); font-weight: bold; margin-left: auto;
          &::after{ content: ''; width: 24rem; height: 24rem; margin-left: 8rem; background: url(../images/ico_down.svg)no-repeat center center / cover;}
        }
      }
    }
  }
}
