@charset "utf-8";
@import "var";

#main_wrap{ background-color: $black; height: 100vh; width: 100%; overflow: hidden; position: relative;}

/********** MAIN VISUAL **********/
#main{ height: 100%;  padding: 162rem 0 130rem; 
  .container{height: 100%;
    .main_title{ }
    .txt_box{ padding:158rem 0 0 50%; @include font-size(20rem);font-weight: bold;}
    .process_info{ border-top: 1px solid rgba($color: #fff, $alpha: .2); padding-top: 20rem; position: absolute; left: 0; bottom: 0; width: 100%;
      p{}
      .start_btn{ padding: 20rem 30rem; @include font-size(14rem); background-color: $ci; border-radius: 8rem; display: flex; align-items: center;
        img{ width: 20rem; margin-left: 10rem;}
      }
    }
  }
}


/********** SURVEY **********/
$survey_pdt: 162rem;

#survey_wrap{ width: 100%; height: 100%; position: relative;
  .survey_tit{ position: absolute; left: 354rem; top: 50rem; @include font-size(14rem); display: flex; align-items: center; font-weight: bold; white-space: nowrap;
    img{ margin-right: 4rem; width: 24rem;}
  }
  .survey_lnb{ position: absolute; left: 0; top: 0; height: 100%; width:  270rem; background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 100%); backdrop-filter: blur(50px); border-right: 1px solid #fff; padding: $survey_pdt 0 0 $layout_padding; font-weight: bold; z-index: 10;
    ol{
      li{ opacity: .3;  transition: .3s ease;
        + li{ margin-top: 16rem;} 
        .tit{ @include font-size(14rem); margin-bottom: 12rem; display: flex; align-items: center; 
          &::before{ content: ''; width: 16rem; height: 16rem; border-radius: 50%; margin-right: 8rem; background-color: $black;}
        }
        button{ @include font-size(12rem); padding: 13rem 35rem 13rem 14rem; position: relative; background: url(../images/survey_lnb_tag.svg)no-repeat left center / auto 100%; @include ellip(1); width: 100%; display: none; text-align: left;
          &::before{ content: ''; width: 15rem; height: 15rem; background: url(../images/ico_write.svg)no-repeat center center / contain; position: absolute; right: 14rem; top: 50%; transform: translateY(-50%); opacity: .5;}
        }
        &.complete{ opacity: 1;
          button{  display: block;}
        }
      }
    }
  }

  .survey_box{ z-index: 1; position: relative;height: 100%;
    .survey_cont{padding: $survey_pdt 352rem 100rem; height: 100%; display: flex; flex-direction: column; justify-content: space-between;
      .con_box{ font-weight: bold;
        .example_btn,
        .example_list li{ @include font-size(14rem); padding: 7rem 12rem; border-radius: 8rem; background-color: $white; color: $black;}
        .txt_box{ margin-bottom: 20rem; 
          span{ @include font-size(32rem);}
          p{ @include font-size(56rem); line-height: 1.2; margin-top: 29rem;}
        }
        .example_btn{ display: flex; align-items: center;
          &::after{ content: ''; width: 12rem; height: 11rem; background: url(../images/ico_file.svg)no-repeat center center / contain; margin:1rem 0 0 10rem;}
        }
        .example_list{ margin-top: 16rem;
          li{ margin-bottom: 10rem; width: max-content; font-weight: 500; color: #777; font-weight: 500; cursor: pointer; opacity: 0; transform: translateX(-10rem); transition: opacity .5s ease, transform .5s ease; touch-action: none; pointer-events: none;
            &:hover{ color: $black; font-weight: 700;}
          }
          &.on{
            li{ opacity: 1; transform: translateX(0); touch-action: auto; pointer-events: auto;
              &:nth-child(2){ transition-delay: .1s;}
              &:nth-child(3){ transition-delay: .2s;}
              &:nth-child(4){ transition-delay: .3s;}
              &:nth-child(5){ transition-delay: .4s;}
              &:nth-child(6){ transition-delay: .5s;}
              &:nth-child(7){ transition-delay: .6s;}
              &:nth-child(8){ transition-delay: .7s;}
              &:nth-child(9){ transition-delay: .8s;}
              &:nth-child(10){ transition-delay: 9s;}
            }
          }
        }

      }
      .write_box{ display: flex; width: 100%; border-radius: 8px;
        background: rgba(0, 0, 0, 0.50); padding: 10rem;
        input{ width: 100%; height: 44rem; padding: 0 14rem;}
        button{ width: 137rem; flex-shrink: 0; background-color: $ci; border-radius: 4rem;
          img{display: inline-block; width: 20rem; margin-left: 10rem;}
        }
      }
    }
  }
}